* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #adadad;
}

::-webkit-scrollbar-thumb {
	background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(77, 77, 77);
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size:14px;
	background-color:rgb(255, 255, 255);
	color:rgb(88, 88, 88);
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 4rem;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 1rem;
	font-weight: 600;
	color: rgb(93 196 185);
	background-color:white;
	text-align: right;
	border-top: 2px solid rgb(241, 241, 241);
}

footer img {
	width:75px;
}

.view {
	margin: 150px 0 0 300px;
	padding: 0 1rem;
}

.search-bar {
	margin: 0 0 0 300px;
	/* padding: 1rem; */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: white;
	box-shadow: 0px 4px 6px 1px #00000070;
	z-index:1;
}

.search-bar input {
	padding: 1rem;
	width: 100%;
	border: 1px solid rgb(77, 77, 77);
	font-size: 1.1rem;
	font-family: 'Nunito Sans', sans-serif, FontAwesome;
	background-color: rgb(43, 43, 43);
	color: white;
}

.search-bar input::placeholder{
	color: rgb(117, 117, 117);
}

.search-bar input:focus{
	outline: none;
}

.search-icon {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

.sidebar {
	background-color:black;
	color: white;
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	width: 300px;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 2rem 0;
	z-index:2;
}

.sidebar h3{
	padding: 0 1rem;
	margin: 0 0 0.5rem 0;
}

.sidebar ul {
	list-style: none;
	margin:0 0 2rem 0;
}

.sidebar li {
	padding: 1rem 2rem;
	cursor: pointer;
}

.sidebar li.active{
	background-color: rgb(77, 77, 77);
}

.sidebar li:hover{
	background-color: rgb(43, 43, 43);
}

.movies {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem 1rem;
	margin: 0 0 2rem 0;
	justify-content: flex-start;
	min-height:600px;
}

.movies > div {
	width: calc(16.6666667% - 1rem);
	min-height: 250px;
}

.movie__observer {
	height: 200px;
	background-color: black;
}

.movie {
	position: relative;
	opacity: 0;
	animation: fadein 0.25s ease-in forwards;
}

.movie .poster {
	cursor: pointer;
}

.movie.library .poster {
	cursor:default;
}

.movie .check, .movie .remove {
	color: green;
	font-size: 3.5rem;
	position: absolute;
	top: -15px;
	right: -10px;
	animation: popin 0.2s linear forwards
}

.movie .remove {
	color: red;
	cursor: pointer;
	display: none;
}

.movie .check > i, .movie .remove > i {
	background-color: white;
	border-radius: 100%;
	height: 56px
}

.movie:hover .remove {
	display: block;
}

.movie img{
	width: 100%;
	box-shadow: 6px 6px 7px 1px #000000a3;
	user-select: none;
	-webkit-user-drag: none;
}

.movie > .title{
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.movie.library.spacer {
	height: 100px;
}

@keyframes popin {
  from {
    transform: scale(50%);
  }

  50% {
    transform: scale(120%);
  }

	75% {
		transform: scale(80%);
	}

  to {
    transform: scale(100%);
  }
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}