* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #adadad;
}

::-webkit-scrollbar-thumb {
	background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(77, 77, 77);
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size:14px;
	background-color:rgb(255, 255, 255);
	color:rgb(88, 88, 88);
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 1rem;
	font-weight: 600;
	color: rgb(93 196 185);
	background-color:white;
	text-align: right;
}

footer img {
	width:75px;
}

.view {
	margin: 0 0 0 300px;
	padding: 0 1rem;
}

.search-bar {
	margin: 0 0 0 300px;
	padding: 1rem;
	position: relative;
}

.search-bar input {
	padding: 1rem;
	width: 100%;
	border: 1px solid rgb(238, 238, 238);
	font-size: 1.1rem;
	font-family: 'Nunito Sans', sans-serif, FontAwesome;
}

.search-bar input::placeholder{
	color: rgb(209, 209, 209);
}

.search-bar input:focus{
	outline: none;
}

.search-icon {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

.sidebar {
	background-color:black;
	color: white;
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	width: 300px;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 2rem 0;
	z-index:2;
}

.sidebar h3{
	padding: 0 1rem;
	margin: 0 0 0.5rem 0;
}

.sidebar ul {
	list-style: none;
	margin:0 0 2rem 0;
}

.sidebar li {
	padding: 1rem 2rem;
	cursor: pointer;
}

.sidebar li.active{
	background-color: rgb(77, 77, 77);
}

.sidebar li:hover{
	background-color: rgb(43, 43, 43);
}

.movies {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem 1rem;
	margin: 0 0 10rem 0;
	justify-content: space-between;
}

.movies > div {
	width: calc(20% - 1rem);
}

.movie {
	
}

.movie img{
	width: 100%;
	box-shadow: 6px 6px 7px 1px #000000a3;
}

.movie > .title{
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}